.listWrapper {
  max-width: calc(260px * 3 + 3rem);
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  gap: 1.5rem;
  max-width: 100%;
  margin: 0 auto;
}

.warning,
.error {
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
}

.warning {
  color: var(--warning);
}

.error {
  color: var(--danger);
}

@media (max-width: 900px) {
  .listWrapper {
    max-width: calc(260px * 2 + 3rem);
  }
}

@media (max-width: 570px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
