.filtersList {
  display: flex;
  gap: 1.5rem;
}

.filtersBtn,
.filtersBtnSelected {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  border: 1px solid transparent;
  border-radius: 12px;

  color: var(--text-primary);
  font-weight: 700;

  transition: all 0.3s ease-in-out;
}

.filtersBtn {
  background-color: transparent;
}

.filtersBtn:hover {
  transform: scale(1.1);
}

.filtersBtnSelected {
  background-color: var(--background-secondary);
}

.filtersBtn:active {
  background-color: var();
}
