@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #111315;
  font-size: 62.5%;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  --background: #111315;
  --background-primary: #1b1d1f;
  --background-secondary: #6f757c;
  --warning: #f6c768;
  --background-price: #bee3cc;

  --text-primary: #fef7ee;
  --text-secondary: #6f757c;
  --text-price: #111315;
  --danger: #ed735d;

  --star-color: #f6c768;

  background-image: url(./assets/images/backgrounds/bg-cafe-lg.jpg);
  background-size: 100% 30vh;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-color: var(--background);
  height: 100%;

  font-size: var(--font-regular);
  font-family: "Sora", sans-serif;
  font-weight: 600;
}

button,
img {
  display: block;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

ul,
li,
ol {
  list-style: none;
  list-style-type: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 56.25%;
  }

  body {
    background-image: url(./assets/images/backgrounds/bg-cafe.jpg);
    background-size: 100% 25vh;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url(./assets/images/backgrounds/bg-cafe.jpg);
    background-size: 100% 20vh;
  }
}

@media (max-width: 412px) {
  html {
    font-size: 50%;
  }

  body {
    background-image: url(./assets/images/backgrounds/bg-cafe-sm.jpg);
  }
}
